<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="oracle" value="Data Source= 10.0.2.27/orcl;Persist Security Info=True;User ID=ZG_WWW_ZHAOGANG_COM_DEV;Password=ZG_WWW_ZHAOGANG_COM_DEV" />
  </appSettings>
</configuration>
