<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="oracle" value="Data Source=127.0.0.1/orcl;Persist Security Info=True;User ID=fx;Password=fx" />
  </appSettings>
</configuration>
